body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.395)), url('img1.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

body {
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #33333300;
    color: white;
    padding: 10px 0;
}

.logo {
    font-family: 'Lobster', cursive; /* Stylish font for the logo */
    font-size: 36px;
    margin-left: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    margin-right:45px ;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(255, 249, 249);
    text-decoration: underline;
}

.intro {
    text-align: center;
    padding: 70px 0;
    background: rgba(0, 0, 0, 0); /* Optional: Add a semi-transparent background to enhance readability */
}

.intro h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    color: white;
    margin-bottom: 0px;
    
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.393);
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-section {
    text-align: center;
    margin-top: 0%;
    padding: 5%;
}

.featured-section h2 {
    font-size: 1.7em;
    color: rgba(255, 249, 249, 0.902);
    padding-bottom: 1%;
}

.single-product, .cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}

.product {
    background-color: rgba(252, 251, 251, 0.178);
    padding: 10px;
    border-radius: 1px;
    width: 400px;
    height: 50%;
    text-align: center;
}

.cart-item img {
    max-width: 60%;
    border-radius: 1px;
}

.cart-item {
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 10px;
    margin: 10px;
    width: calc(25% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: 75%;
    border-radius: 2px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}

.product p {
    font-size: 1em;
    color: #cfcece;
}

.product button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #b84545;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-color:  #b84545;
}

.product a {
    display: block;
    margin-top: 10px;
    color: #b84545;
    text-decoration: none;
}

.product a:hover {
    text-decoration: underline;
}

.centered-content, .footer-content {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}




footer {
    background-color: #000000;
    padding: 10px 30px;
    margin-top: 20px;
    width: 100%;
}


